<p style="color: green"><%= notice %></p>

<%= render @category %>

<h3>Все продукты данной категории: </h3>
<% @products.each do |item| %>
  <%= link_to "#{item.title}", product_path(item) %>
<% end %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
